<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <title>Connected</title>
</head>


<body>

<div class="container">
  <header class="header">
    {% include 'icons.html' %}
    {% include 'search.html' %}
    {% include 'settings.html' %}
  </header>
  {% include 'nav.html' %}
  <main class="content">
    {% block content%}
    {% endblock content %}
  </main>
</div>

</body>


<script src="{% static 'js/main.js' %}"></script>
<script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/js/sw.js')
      .then((registration) => {
        console.log('Service Worker registered with scope:', registration.scope);
      })
      .catch((error) => {
        console.error('Service Worker registration failed:', error);
      });
  }
</script>
</html>