{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="box active communities">
    <div class="community-img">
        <img src="img/communities.svg" alt="">
    </div>
    <div class="community-text">
        <h3>Introducing communities</h3>
        <p>Easily organize your related groups and send announcements. Now, your communities, likeneighborhoods or schools, can have their own space.</p>
    </div>
    <div class="button">
        <button class="btn">start your community</button>
    </div>
</section>

{% endblock content %}

