{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="box status active">
    <div class="data">
        <div class="chat-list">
            <div class="status-head">
                <div class="my-img">
                    <img src="{% static 'img/myprofile.jpg' %}" alt="">
                    <div class="plus"><i class="fas fa-plus"></i></div>
                </div>
                <div class="my-status">
                    <h4>My status</h4>
                    <p>Tap to add status update</p>
                </div>
            </div>

            <label>Recent updates</label>
            <div class="chat unseen">
                <div class="img-box">
                    <img src="{% static 'img/profile-1.png' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>alex smith</h4>
                    </div>
                    <div class="message">
                        <p>Just now</p>
                    </div>
                </div>
            </div>


            <div class="chat unseen">
                <div class="img-box">
                    <img src="{% static 'img/profile-2.png' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>amelia</h4>
                    </div>
                    <div class="message">
                        <p>54 minutes ago</p>
                    </div>
                </div>
            </div>


            <div class="chat unseen">
                <div class="img-box">
                    <img src="{% static 'img/profile-3.png' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>diana</h4>
                    </div>
                    <div class="message">
                        <p>Today, 7:17 PM</p>
                    </div>
                </div>
            </div>

            <div class="chat unseen">
                <div class="img-box">
                    <img src="{% static 'img/profile-4.png' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>joseph</h4>
                    </div>
                    <div class="message">
                        <p>Today, 6:50 PM</p>
                    </div>
                </div>
            </div>

            
            <label>Viewed updates</label>
            <div class="chat seen">
                <div class="img-box">
                    <img src="{% static 'img/profile-5.jpg' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>george</h4>
                    </div>
                    <div class="message">
                        <p>Today, 1:30 PM</p>
                    </div>
                </div>
            </div>
            <div class="chat seen">
                <div class="img-box">
                    <img src="{% static 'img/profile-6.jpg' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>sara</h4>
                    </div>
                    <div class="message">
                        <p>Today, 9:04 AM</p>
                    </div>
                </div>
            </div>
            <div class="chat seen">
                <div class="img-box">
                    <img src="{% static 'img/profile-7.jpg' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>adam</h4>
                    </div>
                    <div class="message">
                        <p>Today, 7:24 AM</p>
                    </div>
                </div>
            </div>
            <div class="chat seen">
                <div class="img-box">
                    <img src="{% static 'img/profile-8.jpg' %}" alt="">
                </div>
                <div class="details">
                    <div class="chat-head">
                        <h4>dana</h4>
                    </div>
                    <div class="message">
                        <p>Today, 7:00 AM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pen-btn">
        <i class="fas fa-pen"></i>
    </div>
    <div class="menu-btn">
        <i class="fas fa-camera"></i>
    </div>
</section>



{% endblock content %}


